extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-12.medium-9.large-9
        h1 ADAM
        p.lead.text-light
          | UI/UX DESIGN
          p.p-bold
            | 职业技能:
            ul
              li
                | 1.熟悉Illustrator以及Photoshop软件操作,熟悉FIGMA、Sketch+Zeplin、XD、axure等流行UI/UX设计软体。
              li
                | 2.熟悉动效设计，善于使用设计软件搭配bodymove至ae输出json动效，并了解相容性设置。
              li
                | 3.熟悉ae操作，可针对品牌需求制作特效剪辑影片。
              li
                | 4.熟悉UI情境版面配置,针对不同使用情境提供最佳版面配置。
              li
                | 5.产品规划能力,能规划出整体产品流程图,熟练使用Axure、ProtoPie制作Wireframe、高保真Prototype,以及需求文档撰写。
              li
                | 6.熟悉HTML、CSS、JS、Jquery 等代码,也了解基础Express、NODE.js等应用框架,能够独立开发静态&響應式网站。
              li
                | 7.熟悉安卓、iOS设计模式以及差异,能够有效及合理的设计APP。
              li
                | 8.了解WEB端设计框架以及各式组件库(Bootstrap、ant、潘朵拉等),能够有效及合理的设计网站以及制作响应式网页。
              li
                | 9.熟悉视觉设计流行方向,能过制作各类视觉图片。
              li
                | 10.熟悉3Dmax、C4D等三维软件及静态渲染,可设计高阶视觉图以及素材。
          p.p-bold
            | 自我评价:
            ul
              li
                | 1.开朗好相处：我喜爱与人交朋友，也喜爱与人交流，也相信良好的同事关系能让团队加速专案的制作进度与沟通。
              li
                | 2.学习能力高：每家企业所使用的软体及流程都不尽相同，但只要是本职相关技术约能在1~2个星期后了解熟悉。
              li
                | 3.处理事情的能力高：由于对于处理事情认真、负责，经理会将手上项目直接指派给我，并担任负责人，主导设计、工作分配、沟通、验收，至今为止，以完成许多上线的项目。
              li
                | 4.热爱学习：我喜欢利用业余的时间学习相关的本质技能，同时也会将所学分享，协助同事排解软件疑问，培养优秀人才。
          p.p-bold
            | 工作经历:
            ul
              li
                | 体育软件研发公司-UED设计部门组长
                ul("style='color:#7486A1'") 负责接收产品需求，前期讨论、风格制定、分析市场，最终与老板报告设计风格、流程，确认后导入UI工作。
                ul("style='color:#7486A1'") 负责监督整体风格走向，以及模块拆分、组件分析建构、交互区块分析与原形制作，协作开发、版本控制。
                ul("style='color:#7486A1'") 设计软体技术导入，与指导同仁相关技术与知识，确保团队能够在同个平台开发。
                ul("style='color:#7486A1'") 负责最后与开发、产品讨论以及修改验收，确保项目最终落地。
                ul("style='color:#7486A1'") 管理设计师为七人，分配相關工作，在期限內達到進度及成果。
              li
                | 伯牙科技-资深产品设计
                ul("style='color:#7486A1'") 手机版互联网彩票APP介面设计(流程、交互、介面规范设计)
                ul("style='color:#7486A1'") 后台管理控制介面设计(流程、交互、介面规范设计)
                ul("style='color:#7486A1'") 彩票站版型(大小网)介面设计(流程、交互、介面规范设计)
                ul("style='color:#7486A1'") 棋牌游戏APP介面设计(交互、介面规范设计)
                ul("style='color:#7486A1'") 品牌相关视觉及官方网站设计及前端撰写
                ul("style='color:#7486A1'") 活动BANNER、广告动态GIF设计
              li
                | 晨云軟件-资深UI/UX设计师
                ul("style='color:#7486A1'") 为中国一级供应商提供汽车多媒体中央控制系统介面以及数位仪表板设计。
                ul("style='color:#7486A1'") 前期使用者资料搜集、交互规划、原型设计。
                ul("style='color:#7486A1'") 后期设计图像、切版、基本交互功能。
                ul("style='color:#7486A1'") 研究UI效果、规范文件制作(图档规范、命名文件)。
                ul("style='color:#7486A1'") 提供客户车载UI解决方案(曾帮助欧菲光电、台湾纳智捷、重庆力华等多家车联网研发部门解决UI实现问题及教学)
              li
                | 国立彰化师范大学-專案管理
              li
                | 美国Altrum Honors-產品設計師
              li
                | 博创数位设计-GUI設計

      .cell.portfolio-meta.small-12.medium-2.large-3
        h6.text-main 相关技能
        ul
          li FIGMA-介面、流程、原形设计-
          li ADOBE XD-交互方式设计
          li ADOBE AI-向量图标、图形设计
          li ADOBE AE-图标动效、影片编辑、特效设计
          li LOTTIE JSON-图标、图型动效参数与输出
          li SKETCH-介面、流程、原形设计
          li HTML-网页设计、PC与H5验收测试
          li CSS-网页设计、PC与H5验收测试
          li EXPRESS-网页设计FRAMEWORK与部属
          li 3DMAX、C4D-3D相关视觉图片制作
        h6.text-main 联络方式
        ul.list
          li 
            a(href="mailto:city032123@gmail.com", target="_blank") city032123@gmail.com
        //ul.social
        //  li
        //    a(href='https://www.linkedin.com/in/melindamgolden/', target='_blank', aria-label="Linkedin")
        //      i.fab.fa-linkedin-in
        //  li
        //    a(href='https://github.com/mmgolden', target='_blank', aria-label="Github")
        //      i.fab.fa-github
        //  li
        //    a(href='https://twitter.com/melindamgolden', target='_blank', aria-label="Twitter")
        //      i.fab.fa-twitter
        //  li
        //    a(href='https://medium.com/@melindagolden', target='_blank', aria-label="Medium")
        //      i.fab.fa-medium-m

  