/*****************************

General

*****************************/
*{
  /*outline: solid 1px #0E121A;*/
  transition:.1s;
}

section{
  width: 100vw;
  height: 100vh;
}
html{
  height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
  background: #0E121A;
  opacity: 0;
  transition: opacity .3s;
}

#Transitional{ 
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0E121A;
  z-index: 100;
}

.slidein {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
@-moz-keyframes slidein {
  from {
    background-color: #EDD6A8;
    width: 100%;
    height: 100%;
  }

  to {
    background-color: #EDD6A8;
    width: 0%;
    height: 100%;
  }
}

@-webkit-keyframes slidein {
  from {
    background-color: #EDD6A8;
    width: 100%;
    height: 100%;
  }

  to {
    background-color: #EDD6A8;
    width: 0%;
    height: 100%;
 }
}

@keyframes slidein {
  from {
    background-color: #EDD6A8;
    width: 100%;
    height: 100%;
  }

  to {
    background-color: #EDD6A8;
    width: 0%;
    height: 100%;
 }
}


hr{
  max-width: 100%;
  border-bottom: 1px solid #1d2228;
}

.disabble{
  display: none;
}

h1{
  margin: 0;
  font-size: 24px;
  color: #ffffff;
}
.h1b{
  margin: 0;
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
}
h2{
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}
.h2b{
  margin: 0;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}
h3{
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}
h4{
  margin: 0;
  font-size: 12px;
  color: #ffffff;
}
h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 14px;
  color: #BECBE0;
}
.p-bold {
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}

li{
  list-style: none;
}

.round{
  border-radius: 5px;
}

.text-light {
  color: #BECBE0;
}

.text-main {
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
a:hover {
  color: #EDD6A8;
}
a:focus {
  outline:none;
}

.image {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  padding: 50px 400px 50px 400px;
  border-radius: 20px;
  line-height: 0;
  background-color: #0e121a;
  -webkit-box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
          box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .image {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 1rem;
    padding: 0px;
    border-radius: 20px;
    line-height: 0;
    background-color: #0e121a;
    -webkit-box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
            box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
  }
  }
@media screen and (min-width: 768px) and (max-width: 1440px) {
    .image {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 1rem;
      padding: 100px;
      border-radius: 20px;
      line-height: 0;
      background-color: #0e121a;
      -webkit-box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
              box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
  }
  }
  @media screen and (min-width: 1440px) and (max-width: 1900px) {
    .image {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 1rem;
      padding: 50px 300px 50px 300px;
      border-radius: 20px;
      line-height: 0;
      background-color: #0e121a;
      -webkit-box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
              box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
  }
  }

.title-bar {
  background: #1D2229;
  position: fixed;
  width: 100%;
  height: 50px;
}

.title-bar-title {
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-left: 5px;
  margin-top: 2px;
}

/*****************************

Sidebar

*****************************/

.portfolio-me {
  padding: 0px;
  background: #1D2229;
  color: #fff;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.portfolio-me::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.portfolio-me img {
  margin-bottom: 20px;
  border: 5px solid rgba(255,255,255,0.3);
  border-radius: 50%;
}

.portfolio-me h5 {
  color: #fff;
}

.portfolio-me p {
  color: #fff;
  font-size: 1rem;
}

.portfolio-me a {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 0.813rem;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.portfolio-me a:hover,
.portfolio-me a:active {
  color: #EDD6A8;
}

/*****************************

Breadcrumb

*****************************/

.portfolio-breadcrumb {
  margin: 0;
  padding: 22px 30px 22px 30px;
  background: #1D2229;
  border-bottom: 1px solid #0E121A;
  width: 100%;
  height: 70px;
  position: fixed;
}
@media screen and (max-width: 768px) {
  .portfolio-breadcrumb {
    margin: 0;
    padding: 0px 16px 0px 20px;
    background: #1D2229;
    border-bottom: 1px solid #0E121A;
    width: 100%;
    height: 35px;
    position: fixed;
    top:50px;
  }
  }


.portfolio-breadcrumb a {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 0.813rem;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  color: #EDD6A8;
@media screen and (min-width: 768px) {
  top:70px;
}
}


/*****************************

Portfolio

*****************************/

.portfolio-intro {
  margin: 0px 0px 0px 0px;
  padding: 40px 20px;
}
@media screen and (max-width: 768px) {
  .portfolio-intro {
    margin: 0px 0px 0px 0px;
    padding: 120px 20px;
  }
}

.portfolio-heading {
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 40px;
  padding: 30px 20px;
}

.portfolio-index {
  margin: 0;
  padding: 10px 20px;
}

.portfolio-index img {
  margin-bottom: 10px;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
          box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.portfolio-index a {
  color: #222;
}

.portfolio-index .cell {
  margin-bottom: 15px;
}

.portfolio-index .cell h5 {
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.188rem;
}

.portfolio-project .portfolio-meta {
  margin-bottom: 30px;
}


.portfolio-meta .button {
  margin-bottom: 5px;
}

.portfolio-project p {
  border: none;
  padding-bottom: 0;
  font-size: 14px;
}

.portfolio-project li{
  color: #BECBE0;
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.portfolio-bio{
    line-height: 25px;
}

.list {
  list-style: none;
  margin-left: 0;
}

.social {
  list-style: none;
  margin-left: 0;
}

.social li {
  display: inline-block;
  margin-right: 15px;
}

.social li a {
  display: block;
  background: #31b6bb;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

.social li a:hover,
.social li a:active {
  background: #EDD6A8;
}

.portfolio-link {
  display: inline-block;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  -webkit-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px 5px 10px;
  background-color: #EDD6A8;
}

.portfolio-link i {
  padding-right: 10px;
}

.portfolio-link:hover,
.portfolio-link:active {
  background-color: #DBC58E;
  color: #000000;
}

/*****************************

Media Queries

*****************************/

@media screen and (min-width: 768px) {
  .portfolio-intro {
    margin: 0;
    padding: 90px 30px 30px;
  }
  .portfolio-heading {
    margin-bottom: 40px;
  }
  .portfolio-meta {
    padding-left: 20px;
  }
  .portfolio-heading {
    padding: 30px 50px;
  }
  .portfolio-index {
    padding: 10px 50px;
  }
}





/*****************************
标题
*****************************/

.bigtitle_info
{
  margin: 22px 0px 22px 30px;
}
.smalltitle_info
{
  margin: 27px 30px 27px 3px;
}
.bigtitle_work
{
  margin: 22px 0px 22px 30px;
}
.smalltitle_work
{
  margin: 27px 30px 27px 3px;
}
@media screen and (max-width: 768px) {
  .bigtitle_work
  {
    margin: 0px 0px 0px 20px;
  }
  .smalltitle_work
  {
    margin: 5px 30px 5px -80px;
  }
}

/*****************************
个人资料顶部
*****************************/
.sider-top{
  height: 70px;
  display: flex;
  display: -webkit-box;
  border-bottom: solid 1px #0E121A;
}
.sider-top-logo{
  width: 70px;
  height: 70px;
  border-right: solid 1px #0E121A;
  position: relative;
}

.sider-top-logo>.logo{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../webimg/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.sider-top-title{
  display: flex;
  display: -webkit-box;
  justify-items: center;
  width: 100%;
  height: 70px;
}

/*****************************
个人资料中部
*****************************/
.sider-info{
  height: 397px;
  display: flex;
  display: -webkit-box;
  border-bottom: solid 1px #0E121A;
}

.info-link{
  width: 70px;
  height: 70px;
  border-right: solid 1px #0E121A;
  position: relative;
}

.info-link>.one{
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url("../webimg/behance.svg");
  background-size: cover;
  top:20px;
  left: 20px;
}
.info-link>.two{
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url("../webimg/facebook.svg");
  background-size: cover;
  top:20px;
  left: 20px;
}
.info-link>.three{
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url("../webimg/gmail.svg");
  background-size: cover;
  top:20px;
  left: 20px;
}


.sider-info-link{
  width: 70px;
  border-right: solid 1px #0E121A;
}
.sider-info-link > .info-link{
  width: 70px;
  height: 70px;
  border-bottom: solid 1px #0E121A;
}
.sider-info-about{
  transition: 1s;
  padding: 30px;
  width: 231px;
  height: 396px;
}

.info-card-outline{
  bottom: 30px;
  display: flex;
  display: -webkit-box;
}
.info-card{
  width: 100%;
  height: 109px;
  text-align: center;
  border: solid 1px #0E121A;;
  border-radius: 4px;
}
.bot{
  background-image: url("../webimg/dot.svg");
  background-size: cover;
  width: 171px;
  height: 16px;
}
.infobutton{
  color: #000000;
  text-align: center;
  width: 100%;
  padding: 5px 0px 5px 0px;
  background-color: #EDD6A8
  ;
}
.infobutton:hover{
  color: #000000;
  text-align: center;
  width: 100%;
  padding: 5px 0px 5px 0px;
  background-color: #d3bc8d
  ;
}
/*****************************
个人资料底部
*****************************/
.sider-info-photp{
  /* width: 100%;
  height: 100%; */
  /* background-color: #1a1f24;
  background-image: url("../webimg/photo.svg");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  transition:2s; */
}

/*****************************
作品卡片
*****************************/
.workbox{
  padding: 100px 0px 30px 0px;
  margin: 0px 15px 0px 15px;
}
@media screen and (max-width: 768px) {
  .workbox {
    padding: 110px 0px 30px 0px;
    margin: 0px 10px 0px 10px;
  }
}

.workimgsize{
  height: 50%;
  width: 100%;
}
.workfontsize{
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
}
.workfontsize_title{
  text-align: left;
  width: 70%;
}
.workfontsize_sub{
  font-size: 12px;
  text-align: right;
  width: 30%;
}
.cellcontrol{
  height: 100%;
  background-color: #1d2328;
  margin-bottom: 30px;
  padding: 10px 10px 15px 10px;
  border-radius: 6px;
  border: solid 1px #1d2328;
  transition: .5s;
  color: #ffffff;
}.cellcontrol:hover{
  color: #EDD6A8;
  border-radius: 6px;
  border: solid 1px #EDD6A8;
}
@media screen and (max-width: 768px){
  .cellcontrol{
    background-color: #1d2328;
    border: solid 0px #1d2328;
    height: 100%;
    margin-bottom: 30px;
    padding: 5px 5px 10px 5px;
    border-radius: 6px;
    transition: .5s;
    color: #ffffff;
  }
}


.worktitle{
  z-index: 99;
  position: fixed;
  background-color: #1D2229;
  width: 100%;
  display: flex;
  display: -webkit-box;
  height: 70px;
  border-bottom: solid 1px #0E121A;
}

@media screen and (max-width: 768px) {
  .worktitle{
    z-index: 99;
    position: fixed;
    display: flex;
    display: -webkit-box;
    height: 40px;
    border-bottom: solid 1px #0E121A;
    margin-top: 50px;
  }
}

.workcopy{
  position: fixed;
  background-color: #1D2229;
  width: calc(100% - 300px);
  bottom: 0px;
  display: flex;
  display: -webkit-box;
  height: 60px;
  border-top: solid 1px #0E121A;
}
@media screen and (max-width: 768px) {
  .workcopy{
    position: fixed;
    background-color: #1D2229;
    width: 100%;
    bottom: 0px;
    display: flex;
    display: -webkit-box;
    height: 40px;
    border-top: solid 1px #0E121A;
  }
}
.smalltitle_copy{
  line-height: 60px;
  width: 100%;
  text-align: right;
  padding: 0px 22px 0px 22px;
}
@media screen and (max-width: 768px) {
  .smalltitle_copy{
    line-height: 40px;
    width: 100%;
    text-align: center;
    padding: 0px 22px 0px 22px;
  }
}



.lottieoutline{
  padding: 0px 35% 0px 35%;
}
@media screen and (max-width: 768px) {
  .lottieoutline{
    padding: 0px 20% 0px 20%;
  }
}